body {
  font-family: "Helvetica Neue", Helvetica, "Arial", sans-serif;
  width: 1248px;
}
h1 {
  font-size: 24px;
  margin-left: 5px;
  margin-right: 10px;
}
h1.title{
  margin-top: 50px;
  margin-left: 5px;
}
label {
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 5px;
}
select {
  margin-left: 20px;
  font-size: 11px;
}
.loading {
  margin-left: 15px;
}
#visualization {
  display: block;
  width: 1200px;
  height: 604px;
}
.about {
  margin-left: 10px;
  margin-right: 10px;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  border: 1px solid #dfe2e5;
}

table th {
  font-weight: 600;
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}



#selectionmenu {
  position: absolute;
  font-family: "Helvetica Neue", Helvetica, "Arial", sans-serif;
  top:0px;
  right:0px;
  display: flex;
  align-items: top;
  justify-content: right;
  border-bottom-left-radius:10px;
}

#selectionmenu a{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100px;
  height:20px;
  padding:5px;
  font-size:14px;
  background-color:var(--color);
  color:white;
  text-align: center;
  text-decoration: none;
  transition: width 0.25s, height 0.25s, font-size 0.25s, background-color 0.25s, font-weight 0.25s, color 0.25;
  /* overflow: hidden; */
}
#selectionmenu a:hover{
  width:110px;
  height:25px;
  padding:5px;
  font-size:16px;
}
#selectionmenu a.selected{
  width:200px;
  height:30px;
  padding:2x;
  font-size:25px;
  font-weight: bold;
  /* background-color:rgba(255,255,255,0.2);
  color:var(--color); */
  text-align: center;
  text-decoration: none;
  /* overflow: hidden; */
}

#helpscreen{
  background:rgba(255,255,255,0.5);
  z-index:100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display:flex;
  align-items: center;
  justify-content: center;
    
}

#helpscreen .mainHelp{
  
  position: absolute;
  top: 70px;
  left: 30px;
  right: 30px;
  bottom: 50px;
  background-color:rgb(255,255,255,0.9);
  /* border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; */
  box-shadow: 1px 1px 10px rgb(200,200,200,0.8);
  color:#555555;
  padding:10px;
  overflow: scroll;
  font-size:16px;
  
}
#helpscreen .projectHelp{
  position: absolute;
  top: 20px;
  right: 50px;
  width:270px;
  height:30px;
  font-weight:bold;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  background-color:rgba(68, 92, 105, 0.9);
  /* border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; */
  box-shadow: 1px 1px 10px rgb(200,200,200,0.8);
  color:white;
  clip-path: polygon(0 40%, 50% 0, 100% 40%, 100% 100%, 0 100%);
}


#helpscreen .timelineHelp{
  position: absolute;
  bottom: 60px;
  left: 50px;
  width:270px;
  height:30px;
  font-weight:bold;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 13px;
  background-color:rgba(180, 61, 31, 0.9);
  /* border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; */
  box-shadow: 1px 1px 10px rgb(200,200,200,0.8);
  color:white;
  /* clip-path: polygon(0 40%, 50% 0, 100% 40%, 100% 100%, 0 100%); */
  clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
  
}



.question {
  font-family: "Helvetica Neue", Helvetica, "Arial", sans-serif;
  height: 30px;
  width: 30px;
  background: rgb(59, 11, 11);
  color:white;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  position:absolute;
  top:5px;
  left:10px;
  z-index: 200;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



